

#root {
    height: 100vh;

    --navbar-height: 50px;
    --musicplayer-footer-height: 80px;
    --guild-options-height: 30px;

    transition: linear 0.2s filter;
}

.App {
  text-align: center;
}



.app_wrapper {
    display: flex;
    flex-direction: column;
    
    flex-grow: 1;
    background-color: #36393f;
    height: 100%;
}