

#root {
    height: 100vh;

    --navbar-height: 50px;
    --musicplayer-footer-height: 80px;
    --guild-options-height: 30px;

    transition: linear 0.2s filter;
}

.App {
  text-align: center;
}


